<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FurniShop</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-2.3.0.js"></script>
    <!-- dpt -->
    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendor/nprogress/nprogress.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="/vendor/fastclick/lib/fastclick.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <!-- NProgress -->
    <script src="/vendor/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/vendor/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/vendor/gauge.js/dist/gauge.min.js"></script>
    <!-- Flot -->
    <script src="/vendor/Flot/jquery.flot.js"></script>
    <script src="/vendor/Flot/jquery.flot.pie.js"></script>
    <script src="/vendor/Flot/jquery.flot.time.js"></script>
    <!-- Flot plugins -->
    <script src="/vendor/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/vendor/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/vendor/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/vendor/moment/min/moment.min.js"></script>
    <script src="/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    
    <link href="/css/custom.css" rel="stylesheet">
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    
    <script src="/main.js"></script>
  </head>
</html>
