<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
              <form 
              onsubmit="return validateSignUpForm()" 
              action="/furni/sign-up" 
              enctype="multipart/form-data" 
              method="POST"
              class="login_container">
              <h1>Create Account</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" name="mb_nick" required="">
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Phone number" name="mb_phone" required="">
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" name="mb_password" required="">
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Confirm password" name="mb_confirm_password" required="">
              </div>
                      <div class="media_frame">
                       
                        <div class="upload_container">

                          <div class="filebox bs3-primary preview-image">

                            <input class="upload_name" value="Upload Brand photo" disabled="disabled" />
                            <label class="pointer" for="input_file">Upload</label>
                          
                            <input type="file" id="input_file" name="brand_img" class="upload-hidden form-control-file brand_img" />
                          </div>

                        </div>
                        <img src="/images/shopping.jpg" alt="" class="upload_img_frame" />
                        <p style="margin-top:10px">Required: .jpg, .jpeg, or .png. <br />
                        there must be no text in the picture!</p>
                      </div>
              <div>
                <button type="submit" class="btn btn-default submit">Submit</button>

              </div>

              <div class="clearfix"></div>
              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="/furni/login" class="to_register"> Log in </a>
                </p>
                <div class="clearfix"></div>
                <br>
                <div>
                  <h1 style="cursor:pointer" onclick="goHome();"><i class="fa fa-paw"></i> Go Home!</h1>
                  <p>
                    <br>  ©2021 All Rights Reserved. Furni express! <br> <a
                      href="https://www.linkedin.com/in/jamshid-makhmudov">for more info please contact with us!</a></p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
    <script >
    
    
//sign up

  $(function () {
    let fileTarget = $(".filebox .upload-hidden");
    let filename = "";
    fileTarget.on("change", function () {
      if (window.FileReader) {
        const uploading_file = $(this)[0].files[0];
        console.log(uploading_file);
        const fileType = uploading_file["type"];
        const validImageTypes = ["image/jpg", "image/jpeg", "image/png"];
        if (!validImageTypes.includes(fileType)) {
          alert("Sorry, only JPG, JPEG & PNG files are allowed.");
        } else {
          if (uploading_file) {
            console.log(URL.createObjectURL(uploading_file));
            $(".upload_img_frame")
              .attr("src", URL.createObjectURL(uploading_file))
              .addClass("success");
          }
          filename = uploading_file.name;
        }
      }
      $(this).siblings(".upload_name").val(filename);
    });
  });

  function validateSignUpForm() {
    const mb_nick = $(".mb_nick").val();
    const mb_phone = $(".mb_phone").val();
    const mb_password = $(".mb_password").val();
    const mb_confirm_password = $(".mb_confirm_password").val();
    const brand_img = $(".brand_img").get(0).files[0] ?? null;

    if (
      mb_nick == "" ||
      mb_phone == "" ||
      mb_phone == "" ||
      mb_confirm_password == ""
    ) {
      alert("Please fill out all required fields!");
      return false;
    } else if (mb_confirm_password != mb_password) {
      alert("Please enter the correct password ");
      return false;
    }
    if (!brand_img) {
      alert("Please download photo");
      return false;
    }
    return true;
  }
</script>

    <deepl-input-controller></deepl-input-controller>
  </body>

  <%- include('includes/footer') %>